// .spin-it {
//     animation: hourglassrotate 2s infinite linear;
// }

// @keyframes hourglassrotate {
//     from {
//             -webkit-transform: rotate(0deg);
//     }
//     to {
//             -webkit-transform: rotate(359deg);
//     }
// }

.chat-toggle {
    position: absolute;
    bottom: 45%;
    right:0;

}