@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'partials/fonts';

body, html {
    margin: 0;
    height: 100%;
    font-family: roboto, 'Courier New', Courier, monospace;
}